@page
@model StockGame.Pages.Users.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>


<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ApplicationUser[0].LastName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ApplicationUser[0].FirstMidName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ApplicationUser[0].UserName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ApplicationUser[0].Email)
                </th>
                <th>Email Confirmed</th>
                <th>Lockout Enabled</th>
                <th>Access Failed Count</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.ApplicationUser) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstMidName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmailConfirmed)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LockoutEnabled)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AccessFailedCount)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
